{{!< default}}
<style>

    .feed-header-wrapper {
    align-items: flex-end;
    border-bottom: 0px solid var(--light-gray-color) !important;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0rem;
    }
    .line_outr{
    display: flex;
    justify-content:start;
    align-items: center;
    gap: 10px;
    max-width: 200px;
    width: 200px;
    padding-top: 10px;
    }
    .line_inr{
    width: 30%;
    height: 4px;
    background-color: #02cce6;
    }
    .line_inr_one{
    width: 60%;
    }
</style>
  <main class="site-main">

    <header class="feed-header gh-canvas">
        {{#if @custom.feed_title}}
            <div class="feed-header-wrapper">
                <h2 class="feed-header-title">{{@custom.feed_title}}</h2>
            </div>
        {{/if}}
    </header>

    <div class="post-feed  expanded gh-feed gh-canvas">
        {{#foreach posts}}
            {{> "loop"}}
        {{/foreach}}
    </div>

    {{!-- {{pagination}} --}}

</main>

{{#contentFor "body_class"}}{{#if @site.cover_image}} with-full-cover is-head-transparent{{/if}}{{#if @member}} logged-in{{/if}}{{/contentFor}}
